---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <main></main>
</Layout>

<!-- STYLES -->

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
    line-height: 1.9;
    font-weight: 500;
    color: #333;
    background-color: #f4f1ed;
    max-width: 170rem;
    margin: 0 auto;
  }
</style>
