---
import Features from "./Features.astro";
import Header from "./Header.astro";
---

<section class="section" id="section--2">
  <div class="section-title">
    <h2 class="section-description">Advantages</h2>
    <h3 class="section-header">Why Shoppers Love Us</h3>
  </div>
  <div class="cards">
    <div class="card">
      <div class="card-img">
        <img src="../../public/Features/icon-1.svg" alt="" />
      </div>
      <div class="card-text">
        <h4>Fast Shipping</h4>
        <p>
          Enjoy speedy and secure shipping at Cosmos. Your orders will arrive
          quickly and in perfect condition. Shop confidently with us! Lorem
          ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="../../public/Features/icon-2.svg" alt="" />
      </div>
      <div class="card-text">
        <h4>Product Selection</h4>
        <p>
          Explore a wide variety of products at Cosmos. We offer an extensive
          range of choices to cater to your unique needs and preferences. Find
          everything you need in one place.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <img src="../../public/Features/icon-3.svg" alt="" />
      </div>
      <div class="card-text">
        <h4>Free Returns</h4>
        <p>
          Enjoy hassle-free returns with us. If you're not satisfied with your
          purchase, our easy return process ensures a seamless experience. We're
          here to make your shopping worry-free.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- STYLES -->

<style>
  .cards {
    display: flex;
    gap: 2rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 35%;
    border-radius: 25px;
    padding: 2.5rem;
    border-radius: 50px;

    background-color: #e6dcf3;

    -moz-box-shadow: 0px 0px 17px -4px rgba(131, 82, 196, 1);
    box-shadow: 0px 0px 17px -4px rgba(131, 82, 196, 1);

    transition: all 0.4s ease-in;
  }

  .card:hover,
  .card:active {
    transition: all 0.3s;
    transform: translateY(-10px);
    outline: rgba(131, 82, 196, 1) 0.1em solid;
    border-radius: 2.5rem 0 2.5rem 0;
  }
  .card-img {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .card-img img {
    width: 60%;
    border-radius: 25%;
  }
  .card-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
  .card-text h4 {
    font-size: 2.7rem;
    font-weight: 700;
  }
  .card-text p {
    font-size: 1.5rem;
  }
</style>
<!--  -->
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
