---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Features from "../components/Features.astro";
import Cards from "../components/Cards.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap"
      rel="stylesheet"
    />
    <title>COSMOS</title>
  </head>
  <body>
    <Header />
    <Features />
    <Cards />
    <Testimonials />
    <Footer />
  </body>
</html>
<script defer src="../../public/script.js"></script>
